{% extends "base.j2" %}
{% block content %}
<nav>
  <ul>
    <li>
      <h1>Admin / Users</h1>
    </li>
  </ul>
  <ul>
    <li><a href="/admin/users/create">Create</a></li>
  </ul>
</nav>

<table>
  <tr>
    <th>username</th>
    <th>admin</th>
  </tr>
  {% for user in users%}
  <tr>
    <td>{{user.id}}</td>
    <td>{{user.admin}}</td>
  </tr>
  {% endfor%}

</table>
{% endblock %}