{% extends "base.j2" %}
{% block content %}
<h1>Spaces / Create</h1>

<form method="post" action="/spaces/create" style="max-width: fit-content;">
  <input name="id" required placeholder="ID" type="text" />
  <input name="name" required placeholder="Name" type="text" />
  <button type="submit">Create Space</button>
</form>

{% endblock %}