# ==========================================
# CORE CONFIGURATION (Backend)
# ==========================================
SPACENOTE_DATABASE_URL=mongodb://localhost:27017/spacenote
SPACENOTE_DEBUG=True
SPACENOTE_ATTACHMENTS_PATH=/data/spacenote/attachments
SPACENOTE_BASE_URL=https://example.com/

# ==========================================
# WEB SERVER CONFIGURATION (Backend)
# ==========================================
SPACENOTE_BACKEND_HOST=127.0.0.1
SPACENOTE_BACKEND_PORT=3100
SPACENOTE_SESSION_SECRET_KEY=your_secret_key_here

# ==========================================
# FRONTEND CONFIGURATION
# ==========================================
SPACENOTE_FRONTEND_PORT=300
SPACENOTE_API_BASE_URL=http://localhost:3100
