<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
</head>

<body>
    <main class="container">
        <article style="max-width: 400px; margin: 2rem auto;">


            {% if error %}<div {{ error }} </div>{% endif %}

                <form method="post" action="/login">
                    <label for="username">
                        Username:
                        <input type="text" id="username" name="username" required autofocus>
                    </label>

                    <label for="password">
                        Password:
                        <input type="password" id="password" name="password" required>
                    </label>
                    <button type="submit">Login</button>
                </form>
        </article>
    </main>
</body>

</html>