{% extends "base.j2" %}
{% block content %}
<nav>
  <ul>
    <li>
      <h1>Admin / Spaces</h1>
    </li>
  </ul>
  <ul>
    <li><a href="/admin/spaces/import">Import</a></li>
  </ul>
</nav>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>View</th>
      <th>Export</th>
      <th>Delete</th>
    </tr>
  </thead>
  {% for space in spaces%}
  <tr>
    <td>{{space.id}}</td>
    <td>{{space.name}}</td>
    <td><a href="/api/spaces/{{space.id}}">view</a></td>
    <td>
      <a href="/admin/spaces/{{space.id}}/export">Metadata</a> |
      <a href="/admin/spaces/{{space.id}}/export?include_content=true">Full</a>
    </td>
    <td><a href="/admin/spaces/{{space.id}}/delete" style="color: red;">delete</a></td>
  </tr>
  {% endfor %}
</table>
{% endblock %}