{% extends "base.j2" %}
{% block content %}
<nav>
  <ul>
    <li>
      <h1>Spaces / {{space.name}} / Fields</h1>
    </li>
  </ul>
  <ul>
    <li><a href="/spaces/{{space.id}}/fields/create">Create</a></li>
  </ul>
</nav>


<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Required</th>
      <th>Options</th>
      <th>Default</th>
    </tr>
  </thead>
  {% for field in space.fields%}
  <tr>
    <td>{{field.name}}</td>
    <td>{{field.type}}</td>
    <td>{{field.required | yes_no}}</td>
    <td>
      {%for key, value in field.options.items()%}
      {{key}}: {{value}}<br>
      {%endfor%}
    </td>
    <th>{{field.default | empty}}</th>
  </tr>
  {% endfor %}
</table>


{% endblock %}